/.venv/
/.ruff_cache/
/scaling.egg-info/
__pycache__/
/checkpoints/
/multirun/
/wandb/
/results/
/outputs/
/data/cache/
/data/openwebtext_cache/
/data/pg19_cache/
/openwebtext/
/openwebtext_full/
/openwebtext_5m/
/logs/
/data/openwebtext_full_cache/
/data/openwebtext_cache_seq16384/
